html,body{
    margin:0;
    padding:0;
    height:100%;
}
body{
}
.show-sit{
    position:relative;
    background-image: url(../image/fpic.jpg);
    /*background:#7F6C5D;*/
    background-size:100%;
      height:100%;
}
.show-container,.winContainer{
    position:absolute;
    height:600px;
    width:1200px;
    /*background:#7F6C5D;*/
    left:50%;
    top:50%;
    opacity:0.7;
    transform:translate(-50%,-50%);
}
.show-sit .winContainer{
    background:#7F6C5D;
    display:none;
    background-color:rgba(0,0,0,0.6);
    /*visibility:hidden;*/
    /*容器使用了transform 这个样式 导致jQuery slideDow 从中间打开*/
    /*z-index:1;*/
}
.show-sit .show-container{
    z-index:100;
}
.show-sit .newWin{
    position:absolute;
    display:table;
    /*background:#31C135;*/
    width:600px;
    height:300px;
    /*opacity:1 !important;*/
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    /*background-color:rgba(0,0,0,0.4);*/
        /*visibility:hidden;*/
    /*padding-top: 200px;*/
    /*line-height:600px;*/

}
.newWin .littleWin{
    font-size:20px;
    font-weight:bold;
    text-indent:40px;
    text-align:center;
    vertical-align:middle;
    display:table-cell;
    height:300px;
    /*padding:0 20px ;*/
    /*background:#7F6C5D;*/
    /*opacity:1 !important;*/
    color: #ffffff;
    /*background-color:rgba(0,0,0,0.4);*/
    /*border-radius:10%;*/
    /*left:50%;*/
    /*top:50%;*/
    /*transform:translate(-50%,-50%);*/
    /*line-height:2;*/
}
.center-box,.show-box{
    position:absolute;
    display:block;
    height:100px;
    width:100px;
    /*background: #47292f;*/
    left:550px;
    top: 250px;;
    /*transform:translate(-50%,-50%);*/
    border-radius:50%;
    overflow:hidden;
    color: #fcf2ff;
    text-align:center;
    /*box-shadow:10px 10px 5px #888888;*/
    background-color: rgba(125, 146, 232, 0.45);
    -webkit-transition:box-shadow 1s linear;
}
.show-container .center-box{
    display:block;
    box-shadow:none;
    background-color: rgb(154, 175, 232);
    z-index:200;
    text-align:center;
    background-image:url("../image/150.jpg");
    background-repeat:no-repeat;
    background-size:auto 100%;
    background-position:top;
    line-height:100px;
    -webkit-transition:box-shadow 1s;
}
.center-box:hover{
    box-shadow:10px 10px 5px #888888;
}
