<div class="head_left">
    <span class="mail"><span class="icon-mail"></span>&nbsp;咨询邮箱：<span>zhang.wanli@bohui.com.cn</span></span>
    <span class="tel"><span class="icon-call"></span>&nbsp;咨询热线：<span>18911390355</span></span>
    <a href="../course/vodList.html" class="course_center">课程中心</a>
    <a href="http://localhost/bbs/forum.php" class="course_center">论坛中心</a>
</div>
<div class="head_right">
    <div class="login_regi" id="login_regi">
        <a href="login.html" class="login">登录</a>
        <a href="register.html" class="regi">注册</a>
    </div>
    <div class="login_img" id="login_img">
        <a href="../teacher/teacher_index.html">
            <img>
        </a>
    </div>
</div>